/*-------- Banner - Menubar ------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?famulu=Caramel');
*
{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272525;
}
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Tạo lớp phủ trong suốt */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0%);
    padding: 20px;
    border-radius: 8px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ffce25;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
    /* border: #f00000 1px solid; */
}

header.sticky
{
    color: #fff;
	background: #272525;
	padding: 10px 60px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .navigation
{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: larger;
    /* border: #f00000 1px solid; */
}
header .dynalang
{
	display: flex;
    /* border: #f00000 1px solid; */
    justify-content: end;
}

header .navigation li
{
	list-style: none;
}
header .dynalang li
{
	list-style: none;
	margin-left: 30px;
}

header .navigation li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

header.sticky .navigation li a
{
	color: #ffffff;
}
header .dynalang li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

header.sticky .dynalang li a
{
	color: #ffffff;
}

header .navigation li a:hover
{
	color: #ff0157;
}
header .dynalang li a:hover
{
	color: #ff0157;
}



.banner
{
	position: relative;
	width: 100%;
	min-height: 40vh;
	display: flex;
	justify-content: center;
	align-items: end;
	background: url(img/bg.jpg);
	background-size: cover;
}

.banner .content
{
	max-width: 900px;
	text-align: center;
}

.banner .content h2
{
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
}

.banner .content p
{
	font-size: 1em;
	color: #fff;
}


.btnBooking
{
	font-size: 1em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 50px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.btnBooking:hover
{
    color: #fff;
	letter-spacing: 9px;
}


.logo {
    display: flex;
    align-items: center;
    color:#f1f1f1
}

.logo-text {
    margin-left: 10px;
}
.logo-title {
    font-weight: 0.3em;
    margin-bottom: 10px;
}
.logo-subtitle {
    margin-top: 10px;
}
.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.language-selector button {
    margin-left: 10px;
}

/* .btn {
    position: relative;
    color: var(--gold-crayola);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--gold-crayola);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: var(--radius-circle);
    background-color: var(--gold-crayola);
    transition: var(--transition-2);
    z-index: -1;
} */

.btn
{
	
	color: #000000;
	background: #E4C590;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 50px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
    font-size: 1em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover
{   
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
	letter-spacing: 9px;
    background: #e6be7b;
}
button {
    display: block;
}
button {
    background: none;
    border: none;
    font: inherit;
}
button {
    cursor: pointer;
}
.btn .text {
    transition: var(--transition-1);
}

.btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--smoky-black-1);
}

.btn:is(:hover,
:focus-visible)::before {
    bottom: -50%;
}

.btn:is(:hover,
:focus-visible) .text-1 {
    transform: translateY(-40px);
}

.btn:is(:hover,
:focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn-secondary {
    background-color: var(--gold-crayola);
    color: var(--black);
}

.btn-secondary::before {
    background-color: var(--smoky-black-1);
}

.btn-secondary .text-2 {
    color: var(--white);
}

.shape {
    display: none;
    position: absolute;
    max-width: max-content;
    z-index: -1;
}
#about-title{
    font-family: 'Caramel', serif;
    font-size: 100px;
}

.section-subtitle {
    position: relative;
    color: var(--gold-crayola);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
}

.section-subtitle::after {
    content: url('./img/separator.svg');
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
}

.about .section-text {
    margin-block: 15px 30px;
}

.about .btn {
    margin-inline: auto;
    margin-block-start: 26px;
}

.about .container {
    display: grid;
    gap: 120px;
    color: #ffffff;
}

.about-banner {
    position: relative;
        margin-block-end: 120px;
    color: var(--gold-crayola);
}

.about-banner>.w-100 {
    padding-inline-start: 50px;
}

.about .abs-img {
    position: absolute;
}

.about .abs-img::before {
    z-index: -1;
}

.about .abs-img-1 {
    bottom: -120px;
    left: 0;
    width: 150px;
    padding-block: 50px;
}

.about .abs-img-2 {
    top: -65px;
    right: 0;
    overflow: hidden;
}

.about .abs-img-1::before {
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    background-image: url('./img/img-pattern.svg');
    background-repeat: repeat;
}

.about .abs-img-2::before {
    inset: 0;
    background-image: url('./img/badge-2-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotate360 15s linear infinite;
}

.about .shape-1 {
    bottom: 0;
    left: 0;
}
.about .shape-2 {
    top: 0;
    right: 0;
}

.cover {
    text-align: center;
    background: url('cover-image.jpg') no-repeat center center/cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh được căn giữa và cắt để vừa khung */
}
.cover img,
.story-image,
.menu-images img,
.dish-images img,
.space-images img {
    width: 100%;
    max-height: 300px; /* Đảm bảo hình ảnh không vượt quá kích thước 500px */
    height: auto; /* Tự động căn chỉnh chiều cao để giữ nguyên tỉ lệ */
    object-fit: cover; /* Cắt phần dư để hình ảnh luôn vừa khít với khung */
    border-radius: 8px; /* Tùy chọn để bo tròn góc ảnh cho đẹp */
}.menu-images,
.dish-images,
.space-images {
    display: flex;
    gap: 15px; /* Khoảng cách giữa các hình ảnh */
    flex-wrap: wrap; /* Để các hình ảnh có thể xuống dòng nếu không đủ chỗ */
    justify-content: center;
}
.main {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: dimgrey;
    color: #ffffff;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section iframe {
    width: 100%;
    height: 200px;
}


.col{
    padding-top: .75rem;
    padding-bottom: .75rem;
    display: flex;
    align-items: center;
    background-color: rgb(113, 44, 249 / 10%) !important;
    border: 1px solid rgba(113,44,248, 0.25);
}


.category{
    /* height: 500px; */
    border: #f00000 1px solid;
    display: flex;
}

.move-anim {
    animation: move 5s linear infinite;
}

@keyframes move {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}

/*--------- Mobile screen ----------*/
@media screen and (max-width: 440px)
{
	header.sticky
	{
		padding: 10px 20px;
	}

	.testimonials .content .box
	{
		margin: 10px;
		padding: 20px;
	}

	.contactForm
	{
		padding: 35px 40px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
@media (min-width: 575px) {

    .about .container {
        gap: 80px;
    }
    .about-banner>.w-100 {
        padding-inline-start: 90px;
    }
    .about .abs-img-1 {
        width: 285px;
    }
    .about .contact-number {
        --fontSize-body-1: 2.4rem;
    }
    
}
@media (min-width: 768px) {


}
@media (min-width: 992px){
    .about .container {
        grid-template-columns: 0.7fr 1fr;
        gap: 30px;
    }
}
@media (min-width: 1200px) {

    .about {
        padding-block: 170px 100px;
    }
}
@media (min-width: 1400px) {

    .about-content {
        padding-inline-end: 90px;
    }
    .about .shape {
        display: block;
        top: 46%;
        left: 0;
    }
    .about .section-text{
        font-size: 20px;
    }
}